
body {
    margin: 0;
    margin-top: 50px;
}

.topnav {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: white;
    box-shadow: 0 0 25px 0 black;
    padding: 0;
}

.topnav * {
    display: inline;
    text-decoration: none;
    color: black;
}

.topnav h1{
  position: flex;
  margin: 150px;
  color: aqua;
  font-size: 18px;
  font-weight: bold; 
 

}

.topnav h1:after{
    content:"ma";
    color:black;
}

.topnav a.transaction{
  
    margin-left: 400px;
    color:black;
    font-size: 15px;
    font-weight: bold; 

    
    
}

.topnav a.logout{
   
    margin: 100px;
    color:black;
    font-size: 15px;
    font-weight: bold; 

  
    
    
}

.topnav .search-container {
    float: center;
  }

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1 px solid gray;
}

.topnav .search-container button {
    float: center;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 20px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}
  
.engi-font 
{
  font-family: "Comic Sans MS", cursive, sans-serif;
}


section 
{
    height: 100vh;
    border-left: 100px solid black;
    border-right: 100px solid black;
    display: flex; 
    flex-wrap: nowrap;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

.poster-img 
{
    width: 250px;
    height: 250px;
    margin-left: 3cm;
    margin-top: 3cm;
    border-radius: 10px;
    margin-right: none;
  
   
}




.title-font 
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 25px;
    margin-left: 10cm;
    font-display: center;
    margin-top: -6.5cm;
    /* padding-left: 10cm;
    padding-top: 2cm; */

 
}
.genre-font 
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: aqua;

    margin-left: 10cm;
    width: 300px;
    word-wrap: break-word;

 
    
  
   
    
}
.times-font 
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: aqua;

   margin-left: 18cm;
   width: 200px;
   margin-top: -0.8cm;

   

   
   
}

.times-font:before
{
    content:" | ";
    color: aqua;
    
  
   
}
.release-font
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: gray;
    width : 450px;
    padding: 4px; 
    margin-left: 10cm;
    
}
.release-font:before
{
    content: "Release Date : ";
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: gray;
    padding: 4px;
  
    
}
.rating-font
{
    font-family: "Courier New", cursive, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:gray;
    padding: 2px;
    
    display: inline;
    
    
   
   
    

}
.rating-font:after
{
    content: "/10";
    font-family: "Courier New", cursive, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: gray;
   
   
    margin-left: 0cm; 
    
}

.description-font
{
    word-wrap: break-word;
    font-size: 15px;
    padding: 8px;
    width: 500px;
  
    margin-left: 10cm;
    

}
table.schedule
{
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width: auto;
    border: 1px solid gray;
    box-shadow: 0 0 10px 0 black;
    margin-top: 4cm;
    font-weight: bold;
    margin-left: 3cm;

}

table.schedule td,th
{
    border-bottom: 1px solid gray;
    text-align: left;
    padding: 8px;
  
   
 
}
table.schedule #top
{
    text-align: left;
    
    padding: 8px;
    margin-bottom: 0.5cm;
    border: none;
}
table.schedule #date
{
    border-bottom: 1px solid gray;

}

/* Review */
table.review
{
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width: auto;
    box-shadow: 0 0 10px 0 black;
    margin-left : 700px;
    margin-top: -250px;
    border: 1px solid gray;
    
}
table.poster-img-reviews 
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: none;
    margin-top: none;

}

table.review td,th
{
    color: gray;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding-right: 1cm;;
}

.available
{
    color:aqua;
    text-decoration: none;
    font-weight: bold;

}

.notavailable
{
    color:red;
    font-weight: bold;
    text-decoration: none;

}

.fa fa-star {
    font-size:25x;
  }
  
  .checked {
    color: orange;
    margin-left: 10cm;
  
  }

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;  
    }
} 




