#login-box{
    width: 30%;

    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;

}

#submit-button{

    background-color : #00bfff;
    color : white;
    border-style: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 15pt;
    height: 50px;
    width: 200px;
    text-align: center;
    align-content: center;
    cursor : pointer;
    font-family: 'Raleway'

}

#title{

    padding: 10px;
    font-family: 'Raleway';
    text-align: center

}
#title:after{
    content: "ma";
    color: aqua;
  
    font-family: 'Raleway';
    text-align: center

}
.form-input{

    width: 100%;
    margin-top: 8px;
    margin-bottom: 10px;
    padding:18px;
    border-radius: 10px;
}

.container{

    margin : 20px;
}

.label{

    text-align: left;
    font-family: 'Raleway'
}

div{
    text-align: center
}

a{
    color : #00bfff
    
}

.error-message{

    text-align : left;
    font-family: 'Raleway';
    color : red;

}