body 
{
    margin: 0;
    margin-top: 50px;
}

.topbar 
{
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: white;
    box-shadow: 0 0 25px 0 black;
    padding: 0;
}

.topbar * 
{
    display: inline;
    text-decoration: none;
    color: black;
}




.topbar h1
{
  position: flex;
  margin: 150px;
  color: aqua;
  font-size: 20px;
  font-weight: bold; 


}

.topbar h1:after
{
    content:"ma";
    color:black;
}

.topbar a.transaction
{
    margin-left: 400px;
    color:black;
    font-size: 15px;
    font-weight: bold; 


    
}
.topbar a.logout
{
    margin: 100px;
    color:black;
    font-weight: bold;
    font-size: 15px;
    font-weight: bold; 



    
}
.engi-font 
{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

section 
{
    height: 100vh;
    border-left: 100px solid black;
    border-right: 100px solid black;
    display: flex;
    flex-direction: column;
    
}

/* Search bar */

.topbar .search-container {
    float: center;
  }

.topbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1 px solid gray;
}

.topbar .search-container button {
    float: center;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 20px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topbar .search-container button:hover {
    background: #ccc;
}
  

.transaction-font{
    font-size: 25px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 60px;
    padding: 10px;
    height: 25px;
    font-family: arial, sans-serif;

    
}

/* FLEX */
.flex-container{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    margin-top: 30px;

    height: 150px;
    width: 1000px;
    border-bottom: 2px solid gray;
}

.flex-container .pic
{
    line-height: 100px;
    width: 100px;
    height: 120px;
    margin: 10px;
   
}

.flex-container .history
{
    
    margin-left: 200px;
    margin-top: -150px;
    width: 500px;
    display: flex;
    flex-direction: column;
   
}
.flex-container .history #title
{
    float: left;
    margin :0px;
    width: 200px;
    font-size: 20px;
    font-weight:bold;
   
}
.flex-container .history #date:before
{
    content: "Schedule: ";
    font-size: 15px;
    color: aqua;
    opacity: 70%;
    font-weight: bold;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.flex-container .history #date
{
    float: left;
    margin:0px;
    font-size: 15px;
    color: black;
    opacity: 70%;
    font-weight: bold;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.flex-container .history #time
{
    margin-top :-28px;
    margin-left: 230px;
    width: 400px;
    font-size: 15px;
    color: black;
    opacity: 70%;
    font-weight: bold;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.flex-container .pic .poster-img 
{
    flex : 1 1 auto;
    max-width: 100px;
    min-width: 100px;
    max-height: 130px;
   
}
/* Button */

.button-add
{

    background-color: aqua;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 30px;
    margin-left: 850px;
    width: 95px;
    text-decoration: none;
    text-align: center;
   
}

.button-edit
{

    background-color: green;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: -42px;
    margin-left: 850px;
    width: 95px;
    text-decoration: none;
    text-align: center;
   
}
.button-delete
{

    background-color:red;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 30px;
    margin-left: 650px;
    width: 95px;
    text-decoration: none;
    text-align: center;
   
}

