body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: #fff;
  font-family: "Lato", sans-serif;
}


.form-header {
  margin-bottom: 1.7em;
}

.card {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  border: 1px solid #f2f2f2;
  box-shadow: 0 4px 6px #828282;
  padding: 50px 40px;
  border-radius: 6px;
}

.form-header {
  font-weight: 400;
  font-size: 1.5em;
  margin: 0px 20px 40px 20px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #828282;
}

::placeholder {
  color: #dadedf;
  opacity: 0.6;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dadedf;
  opacity: 0.6;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dadedf;
  opacity: 0.6;
}

form label {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.1px;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.input {
  font-family: inherit;
  border: 0.5px solid #e0e0e0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #828282;
}

.btn {
  cursor: pointer;
}

.form-btn {
  margin: 1.5em 0em;
  background-color: #2d9cdb;
  letter-spacing: 1.1px;
  font-weight: bold;
  color: #f2f2f2;
  border: none;
  font-family: inherit;
  padding: 1em 4em;
  border-radius: 5px;
}

.form-btn:hover {
  background-color: #2f80ed;
}

.form-card-footer {
  font-size: 0.75em;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #2d9cdb;
}


/* Basic color pallete */
.blue-color {
  color: #2f80ed;
}
.black-background {
  background-color: #393939;
}
.white-background {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  z-index: 500;
  position: fixed;
  top: 0px;
  display: flex;
  padding: 10px 200px;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar > div {
  display: flex;
  align-items: center;
}
.left-navbar {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.left-navbar {
  font-size: 1.2em;
}
.right-navbar {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.navbar input {
  border: none;
}
.input-box {
  display:flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 20px;
  color: gray;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.navbar i {
  color: gray;
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* Layout */
.layout {
  width: 100%;
  height: 100%;
  padding: 0 150px;
  display: flex;
}
.layout-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 10vh 50px 0 50px;
  box-sizing: border-box;
}

/* Rating */
.rating img {
  filter: invert(66%) sepia(74%) saturate(1742%) hue-rotate(14deg) brightness(108%) contrast(104%);
}
.rating {
  color: gray;
}

/* Film Image */
.film-image-big {
  height: 250px;
  width: 170px;
  border-radius: 10px;
}

/* SVG Image */
.svg-superbig {
  height: 40px;
}
.svg-big {
  height: 20px;
}
.svg-med {
  height: 18px;
}
.svg-small {
  height: 15px;
}
